<div class="container">
    <div class="row">
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">26K (-12.4%)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Income</h5>
            <p class="card-text">$6,200 (40.9%)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Conversion Rate</h5>
            <p class="card-text">2.49 (84.7%)</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sessions</h5>
            <p class="card-text">44K (-23.6%)</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row mt-4">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Traffic</h5>
            <canvas id="trafficChart"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  